{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <p class="text-center text-lg">{{ 'SuccessfullySubscribedToNewsletter'|trans }}</p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    {% set homeUrl = url('home') %}
                    <button href="{{ homeUrl }}">{{ 'YouCanBrowsePlatformNow'|trans }}</button>
                    {{ include('email/_link_text_fallback.html.twig', {path: homeUrl}) }}
                </center>
            </columns>
        </row>
        {{ include('email/_signature.html.twig') }}
    </container>
{% endapply %}
