<div
        id="ImageCarousel"
        class="carousel position-relative bg-dark slide d-flex justify-content-center h-100"
        data-bs-ride="carousel"
        data-bs-touch="true"
     style="z-index: 10001;">
    <div class="position-absolute top-0 start-0 bg-dark p-2 ps-5" style="z-index: 10002;">
        {{ include('components/_browser_back.html.twig') }}
    </div>
    <div class="carousel-indicators">
        {% for attachment in track.attachments %}
            <button
                    type="button"
                    data-bs-target="#ImageCarousel"
                    data-bs-slide-to="{{ loop.index0 }}"
                    class="{{ loop.first ? 'active' : '' }}"
                    aria-current="{{ loop.first ? 'true' : '' }}"
                    aria-label="{{ 'Attachment'|trans ~ loop.index }}"
            ></button>
        {% endfor %}
    </div>
    <div class="carousel-inner d-flex align-items-center" style="padding-top: 50px;">
        {% for attachment in track.attachments %}
            <div class="carousel-item {{ loop.first ? 'active' : '' }} ">
                {{ include('attachment/_attachment.html.twig', {attachment}) }}
            </div>
        {% endfor %}
    </div>
    {% if track.attachments.count > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#ImageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#ImageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
</div>
