{% if value is defined and value is not null %}
    <span style="word-wrap: break-word">
        {% if label is defined and label is not null %}
            <span>{{ label }} :</span>
            {% if url is defined and url is not null %}
                <a href="{{ url }}" class="text-dark"><u>{{ value }}</u></a>
            {% elseif notUnderlined is defined %}
                <span>{{ value|nl2br }}</span>
            {% else %}
                <u>{{ value|nl2br }}</u>
            {% endif %}
        {% elseif small is defined %}
                <span class="fs-6">{{ value|nl2br }}</span>
        {% else %}
                <span class="fs-4">{{ value|nl2br }}</span>
        {% endif %}
        <br/>
    </span>
{% endif %}
