{% if value is defined %}
    <span>
        {% if label is defined and label is not null %}
            <span>{{ label }} :</span>
            {% if url is defined and url is not null %}
                <a href="{{ url }}" class="text-dark"><u>{{ value }}</u></a>
            {% else %}
                <u>{{ value }}</u>
            {% endif %}
        {% elseif small is defined %}
                <span class="fs-6">{{ value }}</span>
        {% else %}
                <span class="fs-4">{{ value }}</span>
        {% endif %}
        <br/>
    </span>
{% endif %}
