<div class="mt-4" style="word-wrap: break-word">
    <span class="fs-4">{{ track.name|nl2br }}</span><br/>

    {{ include('track/components/information_rows/_category.html.twig', { track }) }}
    {{ include('track/components/information_rows/_tags.html.twig', { track }) }}
    {{ include('track/components/information_rows/_region.html.twig', { track }) }}
    {{ include('track/components/information_rows/_location.html.twig', { track }) }}
    {{ include('track/components/information_rows/_year.html.twig', { track }) }}
    {{ include('track/components/information_rows/_colletives.html.twig', { track }) }}
    {{ include('track/components/information_rows/_description.html.twig', { track }) }}
    {{ include('track/components/information_rows/_has_faces.html.twig', { track }) }}
</div>
