{% set attachment = track.attachments|first %}
    {% if attachment and attachment.thumbnailUrl is not empty %}
        <div class="col-6 col-sm-4 col-md-3 p-1 mt-4 hover-rotate-5">
            <a class="btn btn-link p-0 w-100 h-100  {{ attachment.kind == 'application/pdf' ? '' : 'border border-black border-4' }} "
               href="{{ path('track_show', {id: track.id}) }}"
               style="max-height: 150px;">
                <img
                        style="max-width: 100%; overflow: hidden"
                        src="{{ attachment.thumbnailUrl }}"
                        class=" h-100 {{ attachment.kind == 'application/pdf' ? '' : 'w-100' }}"
                        alt="{{ track.name ~ attachment.id }}"
                />
            </a>
            <p class="fs-xs text-dark text-start">
                <span>{{ track.name }}</span>
                {% if track.kind is not null %}
                    <span><br/>{{ 'Category'|trans }} : {{ track.kind.name }}</span>
                {% endif %}
                {% if track.tags is not null and track.tags.count > 0 %}
                    <span><br/>{{ 'Tags'|trans }} : {% for tag in track.tags %}{{ tag.name }}{{ not loop.last ? ', ' : '' }}{% endfor %}</span>
                {% endif %}
                {% if track.region is not null %}
                    <span><br/>{{ 'Region'|trans }} : {{ track.region.value }}</span>
                {% endif %}
                {% if track.location is not null %}
                    <span><br/>{{ 'Location'|trans }} : {{ track.location }}</span>
                {% endif %}
                {% if track.year is not null %}
                    <span><br/>{{ 'Year'|trans }} : {{ track.year }}</span>
                {% endif %}
                {% if track.collective is not null %}
                    <span><br/>{{ 'Collective'|trans }} : {{ track.collective.name }}</span>
                {% endif %}
            </p>
        </div>
    {% endif %}