{% set url = track.thumbnailUrl %}
{% if url %}
    <div class="col-6 col-sm-4 col-md-3 p-1 mt-4">
        <a class="btn btn-link p-0 overflow-hidden"
           href="{{ track.needsModeration ? path('moderate_track', {id: track.id}) : path('track_show', {id: track.id}) }}"
           style="height: 150px; width: 100%; min-width: 150px;">
            <div  class="overflow-hidden mh-100 mw-100
                {{ not track.pdf ? 'border border-dark border-4' : '' }}
                {{ track.vertical ? 'h-100' : '' }}
                {{ track.horizontal ? 'w-100' : '' }}
                {{ track.square ? 'h-100 w-100' }}
            ">
                <img src="{{ url }}" alt="{{ track.name }}" class="
                    {{ track.vertical ? 'h-100' : '' }}
                    {{ track.horizontal ? 'w-100' : '' }}
                    {{ track.square ? 'h-100 w-100' }}"
                 />
            </div>
        </a>
        <p class="fs-xs text-dark text-start">
            <span class="fs-5" style="word-wrap: break-word">{{ track.name }}</span>
            {% if track.kind is not null %}
                <span><br/>{{ 'Category'|trans }} : {{ track.kind.name }}</span>
            {% endif %}
            {% if track.tags is not null and track.tags.count > 0 %}
                <span><br/>{{ 'Tags'|trans }} : {% for tag in track.tags %}{{ tag.name }}{{ not loop.last ? ', ' : '' }}{% endfor %}</span>
            {% endif %}
            {% if track.region is not null %}
                <span><br/>{{ 'Region'|trans }} : {{ track.region.value }}</span>
            {% endif %}
            {% if track.location is not null %}
                <span><br/>{{ 'Location'|trans }} : {{ track.location }}</span>
            {% endif %}
            {% if track.year is not null %}
                <span><br/>{{ 'Year'|trans }} : {{ track.year }}</span>
            {% endif %}
            {% if track.collective is not empty and track.collective is not null and track.collective.id is defined %}
                <span><br/>{{ 'Collective'|trans }} : {{ track.collective.name }}</span>
            {% endif %}
        </p>
    </div>
{% endif %}