<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'VerifyEmailTitle'|trans }}</h1>
            <p>
                {{ 'VerifyEmailBody'|trans }}
            </p>
            <a href="{{ signedUrl }}" class="btn btn-primary">{{ 'VerifyEmailCta'|trans }}</a>
            <span>{{ 'YouCantClickButtonOpenThisLinkInYourBrowser'|trans }} : {{ signedUrl }}</span>
        </div>
    </div>
</div>
