{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'Login'|trans}}{% endblock %}

{% block cardContent %}
    <form method="post" class="p-1 p-sm-2 p-md-4 p-lg-5">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <label for="username" class="form-label">{{ 'EmailOrUsername'|trans }}</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        <label for="password" class="form-label">{{ 'Password'|trans }}</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="text-end">
            <button class="btn btn-lg btn-success mt-3" type="submit">{{ 'Login'|trans }}</button>
        </div>
    </form>
{% endblock %}

{% block afterCard %}
    <a class="btn btn-lg btn-primary text-muted mt-3" href="{{ path('app_sign_up') }}">
        {{ 'CreateAccount'|trans }}
    </a>
    <br/>
    <a class="btn btn-lg btn-primary text-muted mt-3" href="{{ path('app_forgot_password_request') }}">
        {{ 'ForgotPasswordResetPassword'|trans }}
    </a>
{% endblock %}
