{% extends 'base.html.twig' %}

{% block title %}{{ 'HomeTitle'|trans }}{% endblock %}

{% block bodybg %}dark{% endblock %}

{% block content %}
    <main class="px-3 flex-grow-1 d-flex flex-column justify-content-around">
        <h1>{{ 'HomeTitle'|trans }}</h1>
        <div class="row justify-content-around">
            <div class="col-12 col-sm-6 col-md-5">
                <div class="card text-light bg-secondary mb-3">
                    <div class="card-header text-start">
                        <h3>{{ 'Tracks'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="bg-dark" style="height: 200px; width: 100%; border-radius: 5px;"></div>
                        <p class="card-text mt-4">{{ 'TracksSubtitle'|trans }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5">
                <div class="card text-light bg-primary mb-3">
                    <div class="card-header text-start">
                        <h3>{{ 'Collectives'|trans }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="bg-dark" style="height: 200px; width: 100%; border-radius: 5px;"></div>
                        <p class="card-text mt-4">{{ 'CollectivesSubtitles'|trans }}</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 offset-sm-3 offset-md-4">
                <a class="btn btn-outline-danger btn-lg bg-light rounded-5 p-4 px-5 text-danger hoverable"
                   href="{{ path('track_new') }}"
                >
                    {{ 'Contribute'|trans }}
                </a>
            </div>
        </div>
    </main>
{% endblock %}
