{% extends 'base.html.twig' %}

{% block title %}{{ 'HomeTitle'|trans }}{% endblock %}

{% block bodyStyle %}margin-top: 85vh;{% endblock %}

{% block content %}
    <div class="vh-100 vw-100 position-absolute top-0 z-1"
            {{ stimulus_controller('show_hide') }}
            {{ stimulus_action('show_hide', 'show', 'scroll') }}
    >
        <a class="h-100 w-100 d-block"{{ stimulus_action('show_hide', 'show') }}></a>
        <a class="btn btn-lg btn-link position-absolute scroll-button"{{ stimulus_action('show_hide', 'show') }}>
            <img class="scroll-down-btn hover-rotate-10" src="{{ asset('images/panneau.gif') }}" alt="{{ 'scrollToStart'|trans }}">
        </a>

    </div>
    <div class="d-flex flex-column justify-content-around flex-grow-1">
        {{ include('home/components/_home_title.html.twig') }}
        <div class="d-flex justify-content-around row position-relative">
            {{ include('home/components/_home_button.html.twig', {url: path('track_index'), pictureUrl: asset('images/tracks.png'), label: 'Tracks'|trans }) }}
            {{ include('home/components/_home_button.html.twig', {url: path('app_map'), pictureUrl: asset('images/and-now.png'), label: 'Follows'|trans }) }}
        </div>
        <div class="d-flex justify-content-around row position-relative">
            {{ include('home/components/_home_button.html.twig', {url: path('track_new'), pictureUrl: asset('images/share.png'), label: 'Participate'|trans }) }}
            {{ include('home/components/_home_button.html.twig', {url: path('collective_index'), pictureUrl: asset('images/who-are-we.png'), label: 'WhoAreWe'|trans }) }}
        </div>
    </div>
{% endblock %}
