{% extends 'base.html.twig' %}

{% block title %}{{ 'HomeTitle'|trans }}{% endblock %}

{% block bodyStyle %} margin-top: 80vh; padding-top: 0; {% endblock %}

{% block content %}
    <div class="vh-100 vw-100 position-absolute top-0 z-1" id="scrollableHomeButtons"
            {{ stimulus_controller('show_hide') }}
            {{ stimulus_action('show_hide', 'show', 'scroll') }}
    >
        <a class="h-100 w-100 d-block"{{ stimulus_action('show_hide', 'show') }}></a>
            <a class="btn btn-lg btn-link position-absolute scroll-button" id="scrollDownButton" {{ stimulus_action('show_hide', 'show') }}>
            <img class="scroll-down-btn hover-rotate-10" src="{{ asset('images/panneau.gif') }}" alt="{{ 'scrollToStart'|trans }}">
        </a>
    </div>
    <div class="vh-100 d-flex flex-column justify-content-around flex-grow-1" id="scrollableHome">
        <div
            class="d-flex align-items-center position-relative"
            style="transform: rotate(-5deg); top: -25px;"
        >
            <img class="home-title" src="{{ asset('images/le-rond-point.png') }}" alt="{{ 'HomeTitle'|trans }}">
        </div>

        <div class="d-flex justify-content-around row position-relative">
            <div class="home-button col-6 z-1">
                <a class="btn btn-link rounded-5 hover-rotate-10" href="{{ path('track_list') }}">
                    <img class="mh-150px" src="{{ asset('images/tracks.png') }}" alt="{{ 'Tracks'|trans }}">
                </a>
            </div>
            <div class="home-button col-6  z-1">
                <a class="btn btn-link rounded-5 hover-rotate-10" href="{{ path('collective_index') }}">
                    <img class="mh-150px" src="{{ asset('images/and-now.png') }}" alt="{{ 'Follows'|trans }}">
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-around row position-relative">
            <div class="home-button col-6 z-1 d-flex justify-content-center justify-content-md-end">
                <a class="btn btn-link rounded-5 hover-rotate-10" href="{{ path('app_contribute') }}">
                    <img class="mh-70px" src="{{ asset('images/share.png') }}" alt="{{ 'Participate'|trans }}">
                </a>
            </div>
            <div class="home-button col-6 z-1 d-flex justify-content-center justify-content-md-start">
                <a class="btn btn-link rounded-5 hover-rotate-10" href="{{ path('about_us') }}">
                    <img class="mh-50px" src="{{ asset('images/who-are-we.png') }}" alt="{{ 'WhoAreWe'|trans }}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
