<div
    {{
        stimulus_controller('photoswipe')
        |stimulus_controller('macy')
    }}
    id="trackPhotoswipe"
    class="pswp-gallery pswp-gallery--single-column"
>
    {% for attachment in track.attachments %}
        {% set isCover = track.cover == attachment %}
        {% set previewUrl = preview_attachment(attachment, enum('App\\Domain\\Images\\ThumbSize').Big) %}
        <a href="{{ previewUrl }}"
           data-pswp-width="{{ attachment.width }}"
           data-pswp-height="{{ attachment.height }}"
           data-cropped="true"
           target="_blank"
           class="{{ isCover ? 'border border-black border-5 ' : '' }}"

        >
            <img src="{{ previewUrl }}" alt="Attachment" class="w-100" />
            {% if isCover %}
                <div class="alert alert-primary bottom-left w-100 mb-0 p-1 rounded-1">
                    {{ 'Cover'|trans }}
                </div>
            {% endif %}
        </a>
    {% endfor %}
</div>
