{% set isCover = track.cover == attachment and track.attachments|length > 1  %}
{% set previewUrl = get_preview_url(attachment, enum('App\\Domain\\Images\\ThumbSize').Full) %}

<a href="{{ previewUrl }}"
   data-pswp-width="{{ attachment.width }}"
   data-pswp-height="{{ attachment.height }}"
   data-cropped="true"
   target="_blank"
   class="{{ isCover ? 'border border-black border-5 ' : '' }}"

>
    {{ include('track/components/photoswipe/_attachment_image.html.twig', {previewUrl, attachment, isCover}) }}
</a>
