{{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col-12">
            {{ form_label(form.kind) }}
            {{ form_widget(form.kind) }}
        </div>
        {% if form.collective is defined %}
            <div class="col-12">
                {{ form_label(form.collective) }}
                {{ form_widget(form.collective) }}
            </div>
        {% endif %}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <button class="btn btn-primary">{{ 'Create'|trans }}</button>
    </div>
{{ form_end(form) }}
