{{ form_start(form) }}
    <div class="col-12 col-md-6 offset-md-3 my-5">
        {{ form_widget(form.uploadedFile) }}
    </div>
    {{ form_row(form.name) }}
    {% if form.collective is defined %}
        {{ form_row(form.collective) }}
    {% endif %}
    {{ form_row(form.kind) }}
    {{ form_row(form.tags) }}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary">{{ 'Create'|trans }}</button>
    </div>
{{ form_end(form) }}
