{% extends 'base.html.twig' %}

{% block title %}{{ 'TracksListTitle'|trans }}{% endblock %}
{% block bodybg %}light{% endblock %}

{% block content %}
    <div class="row h-100" {{ stimulus_controller('async_search', {url: path('track_async_search')}) }}>
        <h1 class="col-12 text-center text-dark mt-3">{{ 'TracksListTitle'|trans }}</h1>

        <h5 class="text-center text-dark">{{ 'TracksListSubtitle'|trans }}</h5>
        <div class="col-12 col-md-10 offset-md-1">
           {{ include('track/components/_search_form.html.twig', {form}) }}
        </div>
        <div class="col-12 col-md-10 offset-md-1 h-100" {{ stimulus_target('async_search', 'container') }}>
            {{ include('track/components/_tracks_list.html.twig', {tracks}) }}
        </div>
    </div>
{% endblock %}
