{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}
{% block bodybg %}light{% endblock %}

{% block content %}
    <div class="row text-dark h-100 p-2">
        <div>{{ include('components/_back.html.twig') }}</div>
        <h1 class="col-12">{{ track.name }}</h1>
        <div class="col-12 p-4">
            <div class="row">
                <div class="col-12 col-sm-7">
                    {% set attachment = track.attachments|first %}
                    {% if attachment and attachment.thumbnailUrl is not empty %}
                        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#carouselModal">
                            {{ include('attachment/_attachment.html.twig', {attachment}) }}
                        </button>
                    {% endif %}
                </div>
                {{ include('track/components/_information.html.twig', {track}) }}
                {{ include('track/components/_carousel.html.twig', {track}) }}
            </div>
        </div>
    </div>
{% endblock %}
