{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}
{% block bodybg %}light{% endblock %}

{% block content %}
    <div class="text-dark flex-column" style="padding-top: 42px">
        <div>{{ include('components/_back.html.twig') }}</div>
        <h1>{{ track.name }}</h1>
        <div class="p-4">
            <div class="row">
                <div class="col-12 col-sm-7" id="trackPreviewIframeContainer" style="min-height: 400px;">
                    {% if track.url %}
                        {{ include('track/components/_track_video.html.twig', {track}) }}
                    {% else %}
                        {{ include('track/components/_track_image.html.twig', {track}) }}
                    {% endif %}
                </div>
                <div class="col-12 col-sm-5 text-start">
                    {{ include('track/components/_previous_next_track.html.twig', {track}) }}
                    {{ include('track/components/_information_rows.html.twig', {track}) }}
                </div>
            </div>
        </div>
        <a class="btn btn-primary position-absolute bottom-0 end-0 border-4 border-dark hover-underline mb-1 me-1" href="{{ path('track_new_index')}}">
            {{ "ShareTrack"|trans }}
        </a>
    </div>
{% endblock %}
