{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}

{% block content %}
    {{ include('components/_back.html.twig') }}

        <div class="row">
            <b class="col-6 text-start">{{ 'Track'|trans }} : </b>
            <span class="col-6">{{ track.name }}</span>
        </div>
        <div class="row">
            <b class="col-6 text-start">{{ 'Created At'|trans }} : </b>
            <span class="col-6">{{ track.createdAt ? track.createdAt|date : '' }}</span>
        </div>
        <div class="row">
            <b class="col-6 text-start">{{ 'Updated At'|trans }} : </b>
            <span class="col-6">{{ track.updatedAt ? track.updatedAt|date : '' }}</span>
        </div>
        <div class="row">
            <b class="col-6 text-start">{{ 'Disabled'|trans }} : </b>
            <span class="col-6">
                {{ include('components/_badge.html.twig', {value: track.disabled}) }}
            </span>
        </div>
        <div class="row">
            <b class="col-6 text-start">{{ 'Validated'|trans }} : </b>
            <span class="col-6">
                {{ include('components/_badge.html.twig', {value: track.validated}) }}
            </span>
        </div>

    <a href="{{ path('track_index') }}">back to list</a>

    <a href="{{ path('track_edit', {'id': track.id}) }}">edit</a>

    {{ include('track/_delete_form.html.twig') }}
{% endblock %}
