{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}
{% block bodybg %}light{% endblock %}

{% block content %}
    <div class="text-dark flex-column h-100 d-flex position-relative">
        <h1>{{ track.name }}</h1>
        <div class="p-4 flex-grow-1">
            <div class="row h-100">
                <div class="col-12 col-sm-7">
                    {{ include('track/components/glider/_glider.html.twig', {track}) }}
                </div>
                <div class="col-12 col-sm-5 text-start pb-4">
                    {{ include('track/components/_previous_next_track.html.twig', {track}) }}
                    {{ include('track/components/_information_rows.html.twig', {track}) }}
                </div>
            </div>
        </div>
        <a class="btn btn-primary position-absolute bottom-0 end-0 border-4 border-dark hover-underline mb-1 me-1" href="{{ path('track_new_index')}}">
            {{ "ShareTrack"|trans }}
        </a>
    </div>
{% endblock %}
