{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}

{% block content %}
    <div class="row bg-info text-dark h-100 p-2">
        <div>{{ include('components/_back.html.twig') }}</div>
        <h1 class="col-12">{{ track.name }}</h1>
        <div class="col-12 p-4">
            <div class="row">
                <div class="col-12 col-sm-8">
                    {% for attachment in track.attachments|filter(attachment => attachment.url is not empty) %}
                        {{ include('attachment/_attachment.html.twig', { attachment }) }}
                    {% endfor %}
                </div>
                <div class="col-12 col-sm-4 text-start">
                    <h5 class="text-uppercase text-decoration-underline">{{ 'TrackNumber'|trans }} {{ track.id }}</h5>
                    <p class="">{{ track.name }}</p>
                    {% if track.kind is not null %}
                        <p class="">{{ track.kind.name }}</p>
                    {% endif %}
                    <p class="">{{ track.createdAt|date('d/m/Y') }}</p>
                    <p class="">{{ track.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
