{% set thumbUrl = get_thumb_url(attachment, enum('App\\Domain\\Images\\ThumbSize').Big) %}

{% if attachment.video %}
    {% if attachment.videoEmbed %}
        <div class="track-preview-iframe-container h-100 w-100" style="min-height: 400px">
            {{ attachment.videoEmbed|raw }}
        </div>
    {% elseif thumbUrl %}
        <a href="{{ attachment.url }}" target="_blank" class="position-relative h-100 w-100">
            <img
                src="{{ thumbUrl }}"
                alt="Attachment"
                class="mw-100 mvh-100 border-4 border-dark border"
                onerror="this.src='{{ absolute_url(asset(fallback_image(track))) }}';"
            />
            <i class="fa fa-play-circle fs-1 position-absolute" style="top: calc(50% - 20px); left: calc(50% - 20px)"></i>
        </a>
    {% else %}
        <a href="{{ attachment.url }}" target="_blank" class="position-relative h-100 w-100">
            <img
                src="{{ asset('images/fallback_video.png') }}"
                alt="Attachment"
                class="mw-100 mvh-90 border-4 border-dark border"
                onerror="this.src='{{ absolute_url(asset(fallback_image(track))) }}';"
            />
            <i class="fa fa-play-circle fs-1 position-absolute" style="top: calc(50% - 20px); left: calc(50% - 20px)"></i>
        </a>
    {% endif %}
{% elseif attachment.pdf %}
    {% set thumbUrl = get_thumb_url(attachment, enum('App\\Domain\\Images\\ThumbSize').Big) %}
    {% set objectUrl = get_thumb_url(attachment, enum('App\\Domain\\Images\\ThumbSize').Full) %}
    {% if thumbUrl or objectUrl %}
        <div class="d-none d-sm-block">
            <object data="{{ objectUrl }}" type="application/pdf" width="100%" class="mnvh-80 h-100">
                <p>Unable to display PDF file. <a href="{{ objectUrl }}">Download</a> instead.</p>
            </object>
        </div>
        <div class="d-sm-none">
            <div class="position-absolute w-100 h-100 bg-dark bg-opacity-25 z-max">
                <a class="btn hover-no-rotate position-absolute btn-danger rounded text-white border-white border-2 z-max"
                   style="right: 8px; top: 8px;"
                   target="_blank" href="{{ objectUrl }}">
                    <i class="fa fa-file-pdf"></i>
                </a>
            </div>
            <img
                src="{{ thumbUrl }}"
                alt="Attachment"
                class="mw-100 mvh-100 {{ attachment.isCover ? ' border-4 border-dark border ' : '' }}"
                onerror="this.src='{{ absolute_url(asset(fallback_image(track))) }}';"
            />
        </div>
    {% else %}
        <img
            src="{{ asset('images/fallback_text.png') }}"
            alt="Attachment"
            class="mw-100 mvh-90 border-4 border-dark border"
            onerror="this.src='{{ absolute_url(asset(fallback_image(track))) }}';"
        />
    {% endif %}
{% else %}
        <img
            src="{{ thumbUrl }}"
            alt="Attachment"
            class="mw-100 mvh-100 {{ attachment.isCover ? ' border-4 border-dark border ' : '' }}"
            onerror="this.src='{{ absolute_url(asset(fallback_image(track))) }}';"
        />
{% endif %}
