{% set borderClasses = not track.pdf ? 'border border-dark border-4' : '' %}
{% set thumbUrl = get_track_thumb_url(track) %}

<a class="btn btn-link p-0 overflow-hidden position-relative thumbnail-image d-flex justify-content-center align-items-center"
   href="{{ track.needsModeration ? path('moderate_track', {id: track.id}) : path('track_show', {id: track.id}) }}"
>
    <img
        src="{{ thumbUrl }}"
        alt="{{ track.name }}"
        class="mh-100 mw-100 {{ borderClasses }}"
        onerror="this.src='{{ absolute_url(asset(fallback_image(track))) }}';"
    />
    {% if track.video %}
        <i class="fa fa-play-circle fs-1 position-absolute" style="top: calc(50% - 20px); left: calc(50% - 20px)"></i>
    {% endif %}
</a>
