{% set trackNumber = get_track_number(track) %}
<p class="fs-xs text-dark text-start line-height-1 p-2">
    <b class="word-break fs-6">{{ track.name }}</b>
    <span class="badge text-bg-primary">{{ 'TrackNumber'|trans }} {{ trackNumber }}</span>
    {% if track.tags is not null and track.tags.count > 0 %}
        <span><br/>{% for tag in track.tags %}
            · {{ tag.name }}
        {% endfor %}</span>
    {% endif %}
    {% if track.regions|length > 0 %}
        <span><br/>{{ track.regionsAsString }}</span>
    {% endif %}
    {% if track.location is not null %}
        {% if track.regions|length > 0 %}/{% endif %}
        <span>{{ track.location }}</span>
    {% endif %}
    {% if track.collective is not empty and track.collective is not null and track.collective.id is defined %}
        <span><br/>{{ track.collective.name }}</span>
    {% endif %}
    {% if track.years|length > 0 %}
        <span><br/>{{ track.yearsAsString }}</span>
    {% endif %}
</p>
