<div class="modal text-dark" tabindex="-1" id="groupDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="groupDetailsModalTitle" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header">
                <h6 class="modal-title text-decoration-underline">{{ 'Actions'|trans }} : </h6>
                <br/>
                <div class="ms-auto">
                    <span id="groupDetailsModalActions"></span>
                </div>
            </div>
            <div class="modal-body text-start">
                <div>
                    <u>{{ 'ShortDescription'|trans }} : </u>
                    <span id="groupDetailsModalShortDescription"></span>
                </div>
                <div>
                    <u>{{ 'FollowUs'|trans }} : </u>
                    <span id="groupDetailsModalFollowUs"></span>
                </div>
                <div>
                    <u>{{ 'Description'|trans }} : </u>
                    <span id="groupDetailsModalDescription"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>