<div class="modal text-dark z-max" tabindex="-1" id="collectiveDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="collectiveDetailsModalTitle" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header">
                <h6 class="modal-title text-decoration-underline">{{ 'Actions'|trans }}:</h6>
                <br/>
                <div class="ms-auto">
                    <div id="collectiveDetailsModalActions" class="d-flex align-items-center"></div>
                </div>
            </div>
            <div class="modal-body text-start">
                <div class="row d-flex justify-content-center">
                    <img id="collectiveDetailsModalPictureUrl" style="width: 150px" alt="collective_image" src="" />
                </div>
                <div class="mt-3">
                    <u>{{ 'ShortDescription'|trans }}</u> :
                    <span id="collectiveDetailsModalShortDescription"></span>
                </div>
                <div class="mt-3">
                    <u>{{ 'Location'|trans }}</u> :
                    <span id="collectiveDetailsModalLocation"></span>
                </div>
            </div>
            <div class="modal-footer">
                <a id="collectiveDetailsModalShowUrl" href="" class="btn btn-secondary">{{ 'KnowMore'|trans }}</a>
                <a id="collectiveDetailsModalTracksUrl" href="" class="btn btn-primary">{{ 'ViewCollectiveTracks'|trans }}</a>
            </div>
        </div>
    </div>
</div>
