{% extends 'templates/base.html.twig' %}

{% block title %}{{ 'FollowUps'|trans }}{% endblock %}
{% block bodybg %}light{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/@geoapify/geocoder-autocomplete@2.0.3/styles/minimal.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div {{ stimulus_controller('map', {collectives, enableClickToCenter: true, geoapifyKey: geoapify_key}) }}
            class="position-relative h-100 w-100">
        {{ include('map/_tabs.html.twig', {map}) }}
        {% if map == 'metropolis' %}
            {{ include('map/_autocomplete.html.twig', {showDisclaimer: true}) }}
            <div id="map" class="h-100 w-100"></div>
        {% else %}
            {{ include('map/_droms.html.twig') }}
        {% endif %}
        {{ include('map/_collective_information.html.twig') }}
    </div>
{% endblock %}
