<div class="modal fade modal-xl" id="updateIconModal" tabindex="-1" aria-labelledby="updateIconModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateIconModalLabel">{{ 'UpdateIcon'|trans }}</h1>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center">
                    {% for iconPath in get_actions_icon_paths() %}
                        <div class="col-4 d-flex justify-content-center">
                            <button class="btn btn-link p-0" style="width: 50px"
                                    data-bs-dismiss="modal"
                                    {{
                                        stimulus_controller('update_collective_icon', {
                                            iconPath,
                                            imagePreviewElementId: 'autocompleteIconPreviewImage',
                                            fieldElementId: 'collective_iconPath',
                                        })
                                        |stimulus_action('update_collective_icon', 'updateIcon')
                                    }}
                            >
                                <img style="width: 50px" src="{{ iconPath }}" alt="{{ iconPath }}"/>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Close"|trans }}</button>
            </div>
        </div>
    </div>
</div>
