{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'VerifyEmailCta'|trans  }}{% endblock %}

{% block cardContent %}
    <p>
        {{ 'ResetPasswordEmailSentPitch'|trans }}
        {{ 'LinkExpiresIn'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        <br/><br/>
        {{ 'ResetPasswordRetryPitch'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'Retry'|trans }}</a>.
    </p>
{% endblock %}
