<h1>{{ 'Hello'|trans }}</h1>

<p>{{ 'ResetPasswordLinkPitch'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'LinkExpiresIn'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{{ 'SeeYouSoon'|trans }}</p>
