{% extends 'base.html.twig' %}

{% block title %}{{ 'ResetPassword'|trans}}{% endblock %}
{% block bodybg %}light{% endblock %}

{% block content %}
    <h1 class="col-12 text-center text-dark mt-3">{{ 'ResetPassword'|trans }}</h1>

    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card p-5">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <button class="btn btn-primary">{{ 'SendPasswordRequestEmail'|trans }}</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
