{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'ResetPassword'|trans}}{% endblock %}

{% block cardContent %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword.first) }}
        {{ form_row(resetForm.plainPassword.second) }}
        <button class="btn btn-primary">{{ 'ResetPassword'|trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
