<div class="row d-flex align-items-start">
    <div class="col-12 col-sm-6 d-none d-sm-flex flex-column justify-content-center">
        {{ include('track/new/_step_preview.html.twig', {track, step: 2}) }}
    </div>
    <div class="col-12 col-sm-6">
        <div class="p-2">
            {{ form_widget(form.collective) }}
            {% if not track.collective %}
                {{ include('collective/create/_quick.html.twig') }}
            {% endif %}
        </div>
        <div class="p-2">{{ form_widget(form.kind) }}</div>
        <div class="p-2">{{ form_widget(form.tags) }}</div>
        <div class="p-2">{{ form_widget(form.location) }}</div>
        <div class="p-2">{{ form_widget(form.regions) }}</div>
        <div class="p-2">{{ form_widget(form.years) }}</div>

        <div {{ stimulus_controller('checkbox') }}>
            <div class="p-2 d-flex">
                <div class="flex-grow-1">{{ form_label(form.hasFaces) }}</div>
                <div class="">{{ form_widget(form.hasFaces) }}</div>
            </div>
            <div {{ stimulus_target('checkbox', 'yesContent') }} class="{{ track.hasFaces ? '' : 'hidden' }} card bg-warning p-3">
                Si des personnes réalisent une action et sont identifiables :<br/> VOUS DEVEZ FLOUTER LES VISAGES
                <br/><br/>
                Si des personnes identifiables apparaissent :<br/>
                VOUS DEVEZ AVOIR LEUR ACCORD
                OU
                VOUS DEVEZ FLOUTER LEUR VISAGE
                <div class="p-2 d-flex">
                    <div class="flex-grow-1 grotesk">{{ form_label(form.iAppliedRecommendations) }}</div>
                    <div class="">{{ form_widget(form.iAppliedRecommendations, {'attr' : {'data-checkbox-target' : 'yesConfirm'}}) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
