{{ include('track/components/_create_disclaimer.html.twig') }}
{{ form_row(form.attachmentsIds) }}
<div class="row text-start fs-3">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    <div class="fs-6 mt-3">
        {{ 'ShareTrackWays'|trans }}
        <ul>
            <li>{{ 'ShareTrackWay1'|trans }}</li>
            <li>{{ 'ShareTrackWay2'|trans }}</li>
        </ul>
    </div>
</div>

{% if not track.hasVideo and not track.hasAttachments %}
    {{ include('track/new/_add_media_widget.html.twig') }}
{% endif %}
{{ include('track/new/_attachments_widget.html.twig', { track }) }}
{{ include('track/new/_video_widget.html.twig', { track }) }}

<div class="row mt-4 justify-content-end">
    <div class="col-12 col-sm-6" id="captcha_container">
        {{ form_errors(form.captcha) }}
        {{ form_widget(form.captcha) }}
    </div>
</div>
