{% extends 'track/new/step_template.html.twig' %}

{% block step %}3{% endblock %}
{% block innerContent %}
    <div class="row">
        <div class="col-6 d-none d-sm-flex">
            {{ include('track/components/_preview.html.twig', {track}) }}
        </div>
        <div class="col-12 col-sm-6">
            {{ form_start(form) }}
                <div class="text-start">{{ form_label(form.description) }}</div>
                {{ form_widget(form.description) }}

                <div class="mt-2 text-start">
                    {{ 'ConfirmCreationLeaveEmail1'|trans }}
                    {{ form_widget(form.email) }}
                    {{ 'ConfirmCreationLeaveEmail2'|trans }}
                </div>

            {% if form.back is defined %}{{ form_widget(form.back) }}{% endif %}
                {% if form.next is defined %}{{ form_widget(form.next) }}{% endif %}
                {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}
