{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}
{% block bodybg %}primary{% endblock %}

{% block content %}
    <div class="text-dark h-100 p-2 flex-column">
        <h1>{{ 'Preview'|trans }}</h1>
        <div class="p-4">
            <div class="row">
                <div class="col-12 col-sm-7" id="trackPreviewIframeContainer">
                   {{ include('track/components/_track_image.html.twig', {track, noCarousel: true}) }}
                </div>
                <div class="col-12 col-sm-5 text-start">
                    {{ include('track/components/_information_rows.html.twig', {track}) }}

                    <div class="alert alert-primary rounded-0">
                        <span class="fs-6"><i class="fa fa-envelope me-2"></i>{{ 'PublishDisclaimer'|trans }}</span>
                    </div>
                    <a href="{{ path('track_new_add_description', {id: track.id}) }}" class="btn btn-light bg-white hoverable-light btn-lg mt-3">{{ 'Back'|trans }} 3/3</a>
                    <a href="{{ path('track_publish', {id: track.id}) }}" class="btn btn-light bg-white hoverable-light btn-lg mt-3">{{ 'ValidateAndSend'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
