{% extends 'templates/base.html.twig' %}

{% block title %}{{ 'CreateTrack'|trans }}{% endblock %}
{% block bodybg %}primary{% endblock %}
{% set step = block('step') %}

{% block alerts %}{% endblock %}

{% block content %}
    <div class="h-100 text-dark d-flex flex-column" {{ stimulus_controller('video_preview') }}>
        <h3 class="mt-5">{{ 'ShareArchive'|trans }} <span class="d-sm-none">{{ step }}/4</span></h3>
        <h4 class="d-none d-sm-block">{{ step }}/4</h4>
        {{ include('track/components/_breadcrumb.html.twig', {
            maxStep: track.creationStep,
            currentStep: step,
            steps: constant('App\\Form\\TrackType::STEPS') })
        }}
        {{ include('components/_alerts.html.twig') }}
        <div class="col-12 p-3 pt-0 flex-grow-1">
            {% block innerContent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
