{% set backButtonClasses = 1 == step ? ' btn-danger ' : ' btn-light bg-white ' %}
{% set previousStep = step - 1 %}
{% set isEditing = not track.draft %}
{% set isFirstStep = 0 == previousStep %}

<div class="row mt-3">
    <div class="col-12 col-sm-6 ms-auto text-end ">
        <a
                class="btn hoverable-light btn-lg mt-3 {{ backButtonClasses }}"
                href="{{ path('track_new', {step: previousStep} ) }}"
                tabindex="-1"
        >
            {% if isFirstStep %}
                {% if isEditing %}
                    {{ 'DeleteTrack'|trans }}
                {% else %}
                    {{ 'CancelCreation'|trans }}
                {% endif %}
            {% else %}
                {{  'BackStep'|trans({'%step%': previousStep, '%total%': constant('App\\Form\\TrackType::STEPS_COUNT') }) }}
            {% endif %}
        </a>
        {% if form.captcha is defined %}
            {% set captchaHasErrors = form.captcha.vars.errors | length > 0 %}
            {% set nextStep = step + 1 %}
            {% set total = constant('App\\Form\\TrackType::STEPS_COUNT') %}
            <button type="button"
                    class="btn btn-light bg-white hoverable-light btn-lg mt-3 {{ captchaHasErrors ? 'd-none' : '' }}"
                    data-captcha-reveal-target="trigger"
                    data-action="captcha-reveal#reveal">
                {{ 'ValidateStep'|trans({'%step%': nextStep, '%total%': total}) }}
            </button>
            <span class="{{ captchaHasErrors ? '' : 'd-none' }}"
                  data-captcha-reveal-target="submit">
                {{ form_widget(form.next) }}
            </span>
        {% else %}
            {{ form_widget(form.next) }}
        {% endif %}
    </div>
</div>
