<div class="row px-3 text-dark">
    <div class="bg-primary p-2 p-sm-3 p-md-4"
         style="background: url({{ asset('images/tracks-bg.jpg') }}) no-repeat center center; background-size: contain;"
    >
        {{ form_start(form, {attr: {'data-async-search-target': 'form', 'data-action': 'submit->async-search#search:prevent'}}) }}
        <div class="row d-flex align-items-center">
            <div class="col-12 position-relative" style="padding-right: 48px">
                {{ form_widget(form.text)}}
                <button class="btn btn-dark rounded-0 position-absolute btn-sm" style="top: 2px; right: 8px; height:
                36px;">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-1 mt-sm-3">{{ form_widget(form.kinds)}}</div>
            <div class="col-12 col-sm-6 col-md-4 mt-1 mt-sm-3">{{ form_widget(form.tags)}}</div>
            <div class="col-12 col-sm-6 col-md-4 mt-1 mt-sm-3">{{ form_widget(form.regions)}}</div>
            <div class="col-12 col-sm-6 col-md-4 mt-1 mt-sm-3">{{ form_widget(form.years)}}</div>
            <div class="col-12 col-sm-6 col-md-4 mt-1 mt-sm-3">{{ form_widget(form.location)}}</div>
            <div class="col-12 col-sm-6 col-md-4 mt-1 mt-sm-3">{{ form_widget(form.collectives)}}</div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
