{% extends 'base.html.twig' %}

{% block title %}{{ 'Collectives'|trans }}{% endblock %}

{% block bodybg %}success{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Created At'|trans }}</th>
                <th>UpdatedAt</th>
                <th>Disabled</th>
                <th>Validated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collective in collectives %}
            <tr>
                <td>{{ collective.id }}</td>
                <td>{{ collective.createdAt ? collective.createdAt|date : '' }}</td>
                <td>{{ collective.updatedAt ? collective.updatedAt|date : '' }}</td>
                <td>{{ collective.disabled ? 'Yes' : 'No' }}</td>
                <td>{{ collective.validated ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('collective_show', {'id': collective.id}) }}">show</a>
                    <a href="{{ path('collective_edit', {'id': collective.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('collective_new') }}">Create new</a>
{% endblock %}
