{% extends 'base.html.twig' %}

{% block title %}{{ 'CreateCollective'|trans }}{% endblock %}
{% block bodybg %}secondary{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/@geoapify/geocoder-autocomplete@2.0.3/styles/minimal.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-between flex-grow-1">
        <div class="col-12 pt-2 px-3">
            {{ include('components/_back.html.twig') }}
        </div>
        <div class="col-12 px-1 px-sm-3 px-md-5">
            <div class="p-3 text-dark">
                {% if 2 == step %}
                    {{ include('collective/create/_step_2.html.twig', {form}) }}
                {% else %}
                    {{ include('collective/create/_step_1.html.twig', {form}) }}
                {% endif %}
            </div>
        </div>
        <div class="col-6 offset-3 col-sm-4 offset-sm-4 col-md-2 offset-md-5 ">
            {{ include('components/_progress.html.twig', {step, total: 2, label: 'Step'}) }}
        </div>
    </div>
{% endblock %}
