{% extends 'base.html.twig' %}

{% block title %}Collective{% endblock %}
{% block bodybg %}secondary{% endblock %}

{% block content %}
    <h1>{{ 'Collective'|trans }}</h1>

    <h2>{{ collective.name }}</h2>

    <div class="row">
        <div class="col-10 offset-1 col-sm-6 offset-sm-3">
            <img style="width: 150px" class="me-2" src="{{ collective.iconPath }}"  alt="{{ 'Collective'|trans }}"/>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10 offset-1 col-sm-6 offset-sm-3">
            <div class="row">
                {% for action in collective.actions %}
                    <div class="col h-100">
                        <div class="card d-flex align-items-center">
                            <img style="width: 50px" class="me-2" src="{{ action.iconPublicPath }}"  alt="{{ action.name }}"/>
                            <div>{{ action.name }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
