{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ collective.name|trans }}{% endblock %}
{% block bodybg %}secondary{% endblock %}

{% block cardContent %}
    <hr/>
    {{ include('collective/components/_actions.html.twig', { actions: collective.actions }) }}<br/>

    <h5>{{ 'ShortDescription'|trans }}</h5>
    <span>{{ collective.shortDescription }}</span>

    <h5 class="mt-3">{{ 'LongDescription'|trans }}</h5>
    {{ collective.description|nl2br }}

    <div class="mt-3">
        <u class="mt-3"> {{ 'ContactUs'|trans }}</u> :
        {% if is_email(collective.contactUs) %}
           <a href="mailto:{{ collective.contactUs }}">{{ collective.contactUs }}</a>
        {% else %}
            <span>{{ collective.contactus }}</span>
        {% endif %}
    </div>

    <u> {{ 'FollowUs'|trans }}</u> :
    {% if is_url(collective.followUs) %}
        <a target="_blank" href="{{ collective.followUs }}">{{ collective.followUs }}</a>
    {% else %}
        <span>{{ collective.followUs }}</span>
    {% endif %}

    <div class="d-flex justify-content-end mt-4">
        <a class="btn btn-primary" href="{{ path('track_list', { collectives: collective.id }) }}">{{ 'ViewCollectiveTracks'|trans }}</a>
    </div>
{% endblock %}
