<div class="card text-bg-white mt-3 rounded-0 shadow">
    <div class="card-header rounded-0 bg-primary border-bottom-0 plaine">{{ track.name }}</div>
    <div class="card-body pt-0">
        <div class="d-flex flex-row">
            <div class="mt-2 flex-grow-0">
                {{ include('track/components/preview/_thumbnail_image_static.html.twig', {track}) }}
            </div>
            <div class="flex-grow-1 d-flex flex-column justify-content-between text-end pt-3">
                <div>{{ include('track/components/_information_rows_partial.html.twig', {track}) }}</div>
                <div>
                    <a class="btn btn-link" href="{{ path('track_show', {id: track.id}) }}">{{ 'ViewTrack'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
