{% extends 'templates/base.html.twig' %}

{% block title %}{{ 'ModerationRejectedTitle'|trans }}{% endblock %}
{% block bodybg %}danger{% endblock %}

{% block content %}
    <div class="row h-100">
        <h1 class="col-12 text-center text-light mt-3">{{ 'ModerationRejectedTitle'|trans }}</h1>
        <div class="col-12 text-center mb-3">
            <a class="btn btn-light border-dark hover-underline" href="{{ path('moderation_index') }}">
                {{ 'ModerationBackToPending'|trans }}
            </a>
        </div>
        <div class="col-12 col-md-10 offset-md-1 h-100">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row px-3">
                    {{include('track/components/_list.html.twig', {tracks}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
