{% set actions = [
    { label: 'Memory'|trans, path: path('track_list'), color: 'primary' },
    { label: 'AndNow'|trans, path: path('collective_index'), color: 'secondary' },
    { label: 'Participate'|trans, path: path('app_participate'), color: 'light', children: [
        { label: 'CreateTrack'|trans, path: path('track_new_index'), color: 'primary' },
        { label: 'CreateCollective'|trans, path: path('collective_new_disclaimer'), color: 'secondary' },
    ] },
    { label: 'AboutUs'|trans, path: path('about_us'), color: 'light', children: [
        { label: 'WhoAreWe'|trans, path: path('about_us')~'#whoAreWe', color: 'light' },
        { label: 'SupportUs'|trans, path: path('about_us')~'#supportUs', color: 'light' },
        { label: 'AboutRP'|trans, path: path('about_us')~'#aboutRP', color: 'light' },
        { label: 'WeTalkAboutUs'|trans, path: path('about_us')~'#weTalkAboutUs', color: 'light' },
        { label: 'AboutTheMovement'|trans, path: path('about_us')~'#aboutTheMovement', color: 'light' },
    ] },
    { label: 'Moderation'|trans, path: path('moderation_index'), color: 'warning', show: is_granted('ROLE_MODERATOR') },
    { label: 'Login'|trans, icon: 'user', path: path('app_login'), color: 'light', show: not is_granted('ROLE_USER') },
    { label: '', icon: 'user', path: path('user_account'), color: 'light', show: is_granted('ROLE_USER'), children: [
        { label: 'Profile'|trans, path: path('user_account'), icon: 'user', color: 'light', show: app.user },
        { label: 'Admin'|trans, path: path('admin'), icon: 'tools', color: 'light', show: is_granted('ROLE_ADMIN') },
        { label: 'TermsOfUse'|trans, path: path('app_terms'), color: 'light', show: app.user },
        { label: 'PrivacyPolicy'|trans, path: path('app_privacy'), color: 'light', show: app.user },
        { label: 'Logout'|trans, path: path('app_logout'), icon: 'sign-out-alt', color: 'danger', show: app.user },
        { label: 'Login'|trans, path: path('app_login'), icon: 'user', color: 'light', show: app.user is null },
    ] },
] %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark p-0 align-items-stretch d-flex justify-content-start">
    <a href="{{ path('home') }}" class="d-flex align-items-center ps-3 bg-dark px-2 text-decoration-none">
        <h1 class="float-md-start mb-0 text-white text-start fs-5">
            {{ 'HomeTitleMultiline'|trans|raw }}
        </h1>
    </a>

    {{ include('components/header/_header_desktop.html.twig', { actions }) }}

    <button class="navbar-toggler bg-white rounded-0 plaine border-4 border-dark" type="button" data-bs-toggle="modal" data-bs-target="#navbarModal" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-dark">{{ 'Menu'|trans }}</span>
    </button>
</nav>

{{ include('components/header/_header_mobile.html.twig', { actions }) }}
