{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <p class="text-center text-lg">{{ 'TrackCreatedSubtitle'|trans({ '%trackName%': track.name }) }}</p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    {% set trackUrl = url('track_show', { id: track.id }) %}
                    <button href="{{ trackUrl }}">{{ 'YouCanSeeYourTrackHere'|trans }}</button>
                    {{ include('email/_link_text_fallback.html.twig', {path: trackUrl}) }}
                </center>
            </columns>
        </row>
        {{ include('email/_signature.html.twig') }}
    </container>
{% endapply %}
