{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <p class="text-center text-lg">{{ 'TrackCreatedSubtitle'|trans({ '%trackName%': track.name }) }}</p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    {% set trackUrl = url('track_show', { id: track.id }, true) %} }}
                    <button href="{{ trackUrl }}">{{ 'YouCanSeeYourTrackHere'|trans }}</button>
                    <a href="{{ trackUrl }}">{{ 'YouCanSeeYourTrackHere'|trans }}</a>
                    <span>{{ 'YouCantClickButtonOpenThisLinkInYourBrowser'|trans }} : {{ trackUrl }}</span>
                </center>
            </columns>
        </row>
        {{ include('moderation/signature.html.twig') }}
    </container>
{% endapply %}
