<div class="d-flex justify-content-center">
    <div id="autocompleteIconPreviewImage" class="d-none position-relative" style="width: 200px;">
        <button
                type="button"
                class="btn btn-link text-dark position-absolute top--40 start-0 w-100 btn"
                aria-label="Change icon"
                data-bs-toggle="modal"
                data-bs-target="#updateIconModal"
        >
            {{ 'UpdateIcon'|trans }}
        </button>
        <img src="" style="width: 150px;" alt="collective_icon" />
        {{ include('collective/create/_update_icon_modal.html.twig') }}
    </div>
</div>

{{ form_start(form) }}
    <div class=" row text-start">
        <div class="col-12 col-sm-6">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_label(form.shortDescription) }}
            {{ form_widget(form.shortDescription) }}
            {{ form_label(form.actions) }}
            {{ form_widget(form.actions) }}
        </div>
        <div class="col-12 col-sm-6">
            {{ form_label(form.followUs) }}
            {{ form_widget(form.followUs) }}
            {{ form_label(form.contactUs) }}
            {{ form_widget(form.contactUs) }}
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        {{ form_widget(form.iconPath) }}
        <div class="text-end mt-4">
            <button type="submit" class="btn btn-light bg-white">{{ 'Validate'|trans }}</button>
        </div>
    </div>
{{ form_end(form) }}