<div class="contribute-modal bg-white rounded-3 p-3 text-dark d-flex flex-column justify-content-center align-items-center">
    <p><b>{{ 'ContributeSubtitle'|trans }}</b></p>

    <div class="flex-grow-1">
        <div class="d-flex flex-column">
        <a class="btn btn-secondary mt-3 btn-lg p-4" href="{{ path('track_new') }}">{{ 'CreateTrackAnonymous'|trans }}</a>
        <a class="btn btn-primary mt-3 btn-lg p-4" href="{{ path('collective_new') }}">{{ 'CreateCollective'|trans }}</a>
        <a class="btn btn-info mt-3 btn-lg p-4" href="{{ path('app_login') }}">{{ 'Login'|trans }}</a>
    </div>
    </div>
    <p>
        <u>{{ 'KnowMore'|trans }}</u> :
        <b>{{ 'ContributeKnowMore'|trans }}</b>
    </p>

</div>
