<nav class="navbar navbar-expand-lg fixed-top navbar-dark p-0 align-items-stretch">
    <button class="navbar-toggler ms-auto bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{{ path('home') }}" class="d-none d-lg-flex align-items-center ps-3 bg-dark px-2">
        <h1 class="float-md-start mb-0 text-white text-start fs-5">
            {{ 'HomeTitleMultiline'|trans|raw }}
        </h1>
    </a>
    <div class="collapse navbar-collapse bg-dark" id="navbarNav">
        <div class="h-100 px-1 flex-grow-1 d-flex align-items-stretch fs-4 justify-content-between d-flex flex-column flex-lg-row position-relative">
            <a class="flex-grow-1 bg-primary nav-link hover-rotate-5 fs-5 {{ 'track' in app.request.pathInfo ? 'active bg-primary' : '' }} hoverable-primary d-flex align-items-center justify-content-center"
                href="{{ path('track_index') }}"
            >{{ 'Memory'|trans }}</a>
            <a class="flex-grow-1 nav-link hover-rotate-5 bg-secondary fs-5 {{ 'collective' in app.request.pathInfo ? 'active bg-secondary' : '' }} hoverable-secondary d-flex align-items-center justify-content-center"
                href="{{ path('collective_index') }}"
            >{{ 'AndNow'|trans }}</a>
            <a class="flex-grow-1 nav-link hover-rotate-5 bg-white fs-5 {{ 'collective' in app.request.pathInfo ? 'active bg-light' : '' }} hoverable-light d-flex align-items-center justify-content-center"
                href="{{ path('about_us') }}"
            >{{ 'AboutUs'|trans }}
            </a>
            <div id="contributeButton" class="flex-grow-1 me-0">
                <a class="bg-white nav-link hover-rotate-5 hoverable-light d-flex align-items-center justify-content-center h-100 w-100 px-3 fs-5 m-0"
                    href="{{ path('app_contribute') }}"
                >
                    {{ 'Participate'|trans }}
                </a>
                {{ include('components/_contribute_modal.html.twig') }}
            </div>
        <div class="flex-grow-1"></div>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link hover-rotate-5 bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                    href="{{ path('admin') }}"
                    ><i class="fa fa-user-cog"></i></a>
                {% endif %}
                <a class="nav-link hover-rotate-5 bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                    href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i></a>
            {% else %}
                <a class="nav-link hover-rotate-5 bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                 href="{{ path('app_login') }}"
                ><i class="fa fa-user"></i></a>
            {% endif %}
        </div>
    </div>
</nav>
