<nav class="navbar fixed-top navbar-dark text-light p-0 align-items-stretch" style="height: 60px;">
    <a href="{{ path('home') }}" class="d-flex align-items-center ps-3 bg-dark px-2">
        <h1 class="float-md-start mb-0 text-white text-start fs-5">
            {{ 'HomeTitleMultiline'|trans|raw }}
        </h1>
    </a>
    <div class="flex-grow-1 text-light d-flex align-items-stretch fs-4 justify-content-between d-flex position-relative">
        <a class="flex-grow-1 bg-info nav-link fs-5 {{ 'track' in app.request.pathInfo ? 'active bg-info' : '' }} hoverable-info d-flex align-items-center justify-content-center"
            href="{{ path('track_index') }}"
        >{{ 'Tracks'|trans }}</a>
        <a class="flex-grow-1 nav-link bg-secondary fs-5 {{ 'collective' in app.request.pathInfo ? 'active bg-secondary' : '' }} hoverable-secondary d-flex align-items-center justify-content-center"
            href="{{ path('collective_index') }}"
        >{{ 'FollowUps'|trans }}</a>
        <div id="contributeButton" class="flex-grow-1">
            <a class="bg-light nav-link hoverable-light d-flex align-items-center justify-content-center h-100 w-100 px-3 fs-5"
                href="{{ path('track_new') }}"
            >{{ 'Contribute'|trans }}
            </a>
            {{ include('components/_contribute_modal.html.twig') }}
        </div>
    <div class="flex-grow-1"></div>
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link hoverable-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                href="{{ path('admin') }}"
                ><i class="fa fa-user-cog text-primary"></i></a>
            {% endif %}
            <a class="nav-link hoverable-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                href="{{ path('app_logout') }}"><i class="fa fa-power-off text-primary"></i></a>
        {% else %}
            <a class="nav-link hoverable-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
             href="{{ path('app_login') }}"
            ><i class="fa fa-user text-primary"></i></a>
        {% endif %}
    </div>
</nav>
