<nav class="navbar navbar-expand-lg fixed-top navbar-dark p-0 align-items-stretch">
    <a href="{{ path('home') }}" class="d-flex align-items-center ps-3 bg-dark px-2">
        <h1 class="float-md-start mb-0 text-white text-start fs-5">
            {{ 'HomeTitleMultiline'|trans|raw }}
        </h1>
    </a>
    <button class="navbar-toggler ms-auto bg-dark rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="navbarNav">
        <div class="h-100 px-1 flex-grow-1 d-flex align-items-stretch fs-4 justify-content-between d-flex flex-column flex-lg-row position-relative">
            {{ include('components/_nav_link.html.twig', { url: path('track_list'), label: 'Memory'|trans, color: 'primary',}) }}
            {{ include('components/_nav_link.html.twig', { url: path('app_map'), label: 'AndNow'|trans, color: 'secondary',}) }}
            {{ include('components/_nav_link.html.twig', { url: path('about_us'), label: 'AboutUs'|trans, color: 'white',}) }}
            <div id="contributeButton" class="flex-grow-1 me-0">
                {{ include('components/_nav_link.html.twig', { url: path('app_contribute'), label: 'Participate'|trans, color: 'white',}) }}
                {{ include('components/_contribute_modal.html.twig') }}
            </div>
        <div class="flex-grow-1"></div>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link hover-underline bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                    href="{{ path('admin') }}"
                    ><i class="fa fa-user-cog"></i></a>
                {% endif %}
                <a class="nav-link hover-underline bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                    href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i></a>
            {% else %}
                <a class="nav-link hover-underline bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                 href="{{ path('app_login') }}"
                ><i class="fa fa-user"></i></a>
            {% endif %}
        </div>
    </div>
</nav>
