<nav class="navbar navbar-expand-lg fixed-top navbar-dark p-0 align-items-stretch">
    <a href="{{ path('home') }}" class="d-flex align-items-center ps-3 bg-dark px-2">
        <h1 class="float-md-start mb-0 text-white text-start fs-5">
            {{ 'HomeTitleMultiline'|trans|raw }}
        </h1>
    </a>
    <button class="navbar-toggler ms-auto bg-dark rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="navbarNav">
        <div class="h-100 px-1 flex-grow-1 d-flex align-items-stretch fs-4 justify-content-between d-flex flex-column flex-lg-row position-relative">
            {{ include('components/_nav_link.html.twig', { url: path('track_list'), label: 'Memory'|trans, color: 'primary',}) }}
            {{ include('components/_nav_link.html.twig', { url: path('app_map'), label: 'AndNow'|trans, color: 'secondary',}) }}
            {{ include('components/_nav_link.html.twig', { url: path('about_us'), label: 'AboutUs'|trans, color: 'white',}) }}
            <div id="contributeButton" class="flex-grow-1 me-0">
                {{ include('components/_nav_link.html.twig', { url: path('app_contribute'), label: 'Participate'|trans, color: 'white',}) }}
                {{ include('components/_contribute_modal.html.twig') }}
            </div>
            {% if is_granted('ROLE_MODERATOR') %}
                {{ include('components/_nav_link.html.twig', { url: path('moderation_index'), label: 'Moderation'|trans, color: 'warning',}) }}
            {% endif %}
        <div class="flex-grow-1"></div>
            {% if app.user %}
                <div id="user_menu_container" class="d-flex">
                    <button class="nav-link hover-underline bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3">
                        <i class="fa fa-user"></i>
                    </button>
                    <div class="list-group text-end fs-6" id="user_menu">
                        <a href="{{ path('user_account') }}" class="list-group-item list-group-item-action">
                            {{ 'Profile'|trans }}
                            <i class="ms-2 fa fa-user"></i>
                        </a>
                        <a href="{{ path('admin') }}" class="list-group-item list-group-item-action">
                            {{ 'Admin'|trans }}
                            <i class="ms-2 fa fa-tools"></i>
                        </a>
                        <a href="{{ path('app_terms') }}" class="list-group-item list-group-item-action">
                            {{ 'TermsOfUse'|trans }}
                            <i class="ms-2 fa fa-scroll"></i>
                        </a>
                        <a href="{{ path('app_privacy') }}" class="list-group-item list-group-item-action">
                            {{ 'PrivacyPolicy'|trans }}]
                            <i class="ms-2 fa fa-user-secret"></i>
                        </a>
                    </div>
                </div>
            {% else %}
                <a class="nav-link hover-underline bg-light d-flex align-items-center justify-content-center fs-6 border-0 px-3"
                   href="{{ path('app_login') }}"
                ><i class="fa fa-user"></i></a>
            {% endif %}
        </div>
    </div>
</nav>
