{% extends 'base.html.twig' %}

{% block title %}{{ 'Participate'|trans }}{% endblock %}

{% block content %}
    <div class="px-3 text-dark fw-bold">
        <div class="text-start bg-white border border-dark border-4 col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-4 my-3">
            <h2 class="fs-3">{{ 'WeNeedYou'|trans }}</h2>
            <p class="fs-5 grotesk">
                <a href="{{ path('home') }}" class="link-dark">Le-rondpoint.org</a> est un site plateforme lancé fin 2024, 6 ans après le début du mouvement. Il repose sur la collaboration des Gilets Jaunes, qu’ils et elles soient encore actif·ves ou pas.
                <br/>
                La médiation du site est gérée par un collectif, <a href="{{ path('home') }}" class="link-dark">on vous en dit plus ici</a>.
                <br/>
                Nous sommes soucieux de la sécurité de nos visiteur·ses et utilisateur·rices, en hébergeant le site XXXXXXXXXXX et en n’utilisant aucun cookie de traçage.

                <br/><br/>

                Pour participer, vous pouvez :
                <br/>
                <a href="{{ path('track_new_index') }}" class="btn btn-primary fw-bold">Partager une ou plusieurs archives du mouvement</a>
                <br/>
                Ces contributions apparaitront parmi les <a href="{{ path('track_list') }}" class="link-dark">« traces »</a> que nous répertorions.

                <br/><br/>

                <a href="{{ path('collective_new') }}" class="btn btn-secondary">Ajouter votre groupe actif à la carte</a>
                <br/>
                Ce qui permet de localiser votre collectif sur la page <a href="{{ path('collective_index') }}" class="link-dark">Et maintenant ?</a>.

                <br/><br/>

                Si vous avez déjà contribué, vous pouvez accéder à vos contributions en vous connectant par ici
                <a href="{{ path('app_login') }}" class="link-dark">en vous connectant par ici</a>
            </p>

        </div>
    </div>
{% endblock %}
