{% extends 'templates/card_page.html.twig' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}
{% block bodybg %}light{% endblock %}


{% block beforeCard %}
    <div class="row">
        <div class="col-6">
            {{ include('components/_browser_back.html.twig') }}
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-link text-danger" {{ stimulus_controller('back')|stimulus_action('back', 'back') }}>
                {{ 'SignOut'|trans }}
                <i class="fa fa-sign-out-alt me-2"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block cardContent %}
    {{ include('user/_form.html.twig', {button_label: 'Update'|trans}) }}
{% endblock %}

{% block afterCard %}
    <div class="mt-5 text-end">
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
