<div class="glide h-100"
    {{ stimulus_controller('glide') }}
>
    <div class="glide__track h-100" data-glide-el="track"
    {{ stimulus_controller('show_modal', {modalId: 'swiperModal'})|stimulus_action('show_modal', 'click', 'click') }}
    >
        <ul class="glide__slides">
            {% if track.hasAttachments%}
                {% for attachment in track.attachments %}
                    <li class="glide__slide">
                        {{ include('track/components/glider/_glider_item.html.twig', {attachment}) }}
                    </li>
                {% endfor %}
            {% else %}
                <li class="glide__slide">
                    <img
                        src="{{ absolute_url(asset(fallback_image(track))) }}"
                        alt="{{ track.name }}"
                        class="mh-100 mw-100"
                    />
                </li>
            {% endif %}
        </ul>
    </div>
    {% if track.attachments|length > 1 %}
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow--left btn btn-primary border border-dark border-2" data-glide-dir="<" type="button">
                <i class="fa fa-angle-double-left"></i>
            </button>
            <button class="glide__arrow--right btn btn-primary border border-dark border-2" data-glide-dir=">" type="button">
                <i class="fa fa-angle-double-right"></i>
            </button>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            {% for attachment in track.attachments %}
                <button class="glide__bullet" data-glide-dir="={{ loop.index0 }}" type="button"></button>
            {% endfor %}
        </div>
    {% endif %}
</div>

{{ include('track/components/swiper/_swiper_modal.html.twig', {track}) }}
